body{
    margin:0;
    padding: 0;
    background-color: rgb(160, 88, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    background-color: aliceblue;
    text-align: center;
    box-sizing: content-box;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 10px 10px 5px rgb(32, 32, 43);
    
}
.input-box input{
    border-radius: 10px;
    border-color: rgb(70, 43, 226);
    padding: 10px;
    margin: 10px auto 20px;

}
.input-box button{
    border-radius: 10px;
    border-color: rgb(70, 43, 226);
    padding: 10px;
    margin: 10px;

}
.input:hover{
    cursor: auto;
   
}
.button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;

}
.title{
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
   
}
.list{
    border-radius: 10px;
    border: 2px solid rgb(55, 5, 66);
    margin: 5px 0;
    padding: 30px;
    width: 50%;
    background-color: rgb(197, 197, 235);
}


